<a href="https://colab.research.google.com/github/ssumannb/BigData_Analyst_exam/blob/main/Pocketmon_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[출처] 20주차 예상문제 (실기1유형 10문제) (이기적 스터디 카페_컴활,정보처리,워드,데이터자격증) | 작성자 빅분기 실기조교

In [92]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Q6. Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?  
A6. 57  

**reset_index 중요!**  
슬라이싱 하기 전에 reset index를 해주어야 한다.

In [30]:
df_tmp = df.copy()
df_tmp  = df_tmp.sort_values(by='Attack', ascending=False)#.reset_index(drop=True)

cnt_400 = df_tmp.loc[:400, 'Legendary'].sum()
cnt_800 = df_tmp.loc[400:, 'Legendary'].sum()

print(cnt_400-cnt_800)

55

In [17]:
# 정답 코드
up = df.sort_values('Attack', ascending=False).reset_index(drop=True)[:400]
down = df.sort_values('Attack', ascending=False).reset_index(drop=True)[400:]

result = up['Legendary'].sum() - down['Legendary'].sum()
print(result)

57

Q7. Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?  
A7. Flying

In [43]:
df_group = df['Total'].groupby(df['Type 1'])
mean3 = df_group.mean().sort_values(ascending=False)
print(mean3.index[2])

Flying

Q8.  결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라  
A8. 50

In [66]:
# 결측치 
df = df.dropna(axis='rows').reset_index(drop=True)
# 60% 데이터 추출
df_60 = df.loc[:int(len(df) * 0.6)]
# Defense 컬럼 1분위수 구하기
print(df_60['Defense'].quantile(0.25))

50.0

Q9. Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라  
A9. 37

In [91]:
avg_fires = df.loc[df['Type 1'] == 'Fire', 'Attack'].mean()
waters = df[df['Attack']>=avg_fires]
print(len(waters))
result = waters[waters['Type 1'] == 'Water'].shape[0]
result2 = len(waters[waters['Type 1'] == 'Water'])

print(result2)

# 진짜... 죽여..?

323
37

In [89]:
target = df[df.Attack >= df[df['Type 1'] == 'Fire'].Attack.mean()]
print(len(target))
print(df[df['Type 1'] == 'Fire'].Attack.mean())
result = target[target['Type 1'] == 'Water'].shape[0]

print(result)

323
84.76923076923077
37

Q10. 각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?  
A10. 2

In [100]:
dff = df.copy()

dff['diff'] = dff.apply(lambda x: abs(x['Speed']-x['Defense']), axis=1)
df_gen = dff.groupby(dff['Generation'])
df_gen_mean = df_gen['diff'].mean().sort_values(ascending=False)
print(df_gen_mean.index[0])

2