<a href="https://colab.research.google.com/github/ssumannb/BigData_Analyst_exam/blob/main/Pocketmon_data2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[빅분기실기1유형]
16주차 예상문제 (실기1유형 10문제)

In [ ]:
import pandas as pd
df_org = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')

Q1.  Legendary 컬럼은 전설포켓몬 유무를 나타낸다. 전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라   
A1. 25.55614

In [ ]:
df = df_org.copy()

hp_mean = df['HP'].groupby(df['Legendary']).mean()

print(abs(hp_mean[0]-hp_mean[1]))

25.55614861329147

Q2. Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?  
A2. Flying

In [ ]:
df = df_org.copy()

type2 = df['Type 2'].value_counts().sort_values(ascending=False).index
print(type2[0])

Flying

Q3. 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?  
A3. 1.016

In [ ]:
df = df_org.copy()

type1_best = df['Type 1'].value_counts().sort_values(ascending=False).index[0]
attack_mean = df.loc[df['Type 1'] == type1_best, 'Attack'].mean()
defense_mean = df.loc[df['Type 1'] == type1_best, 'Defense'].mean()

print(attack_mean / defense_mean)

1.0165238678090576

Q4. 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?  
A4. 3

In [ ]:
df = df_org.copy()

gen = df['Legendary'].groupby(df['Generation']).sum().sort_values(ascending=False)
print(gen.index[0])

3

Q5. 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed' 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라   
A5. 0.51 Sp. Def - Defense

In [35]:
df = df_org.copy()

# unstack : 데이터를 세로로 쌓는다. 시리즈 형식으로 반환한다. 
# reset_index = 인덱스를 Dataframe의 열로 전송하고, 새로운 단순한 정수 인덱스를 세팅한다. set_index 기능을 역으로 수행
r = df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().reset_index().rename(columns={0:'r'})
max = r[r['r']!= 1].sort_values(by='r', ascending=False).iloc[0]
print(max['r'], max['level_0'], max['level_1'])

# unstack() => return series

0.5107465890885571 Sp. Def Defense

Q6. 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라  
A6. 19.5

Q7. 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라​  
A7. 157.23

Q8. 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?  
A8. Normal  Flying

Q9. 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?  
A9. 39

Q10.한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?  
A10.   
![image.png]()