<a href="https://colab.research.google.com/github/ssumannb/BigData_Analyst_exam/blob/main/Stroke_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[출처] 20주차 예상문제 (실기1유형 10문제) (이기적 스터디 카페_컴활,정보처리,워드,데이터자격증) | 작성자 빅분기 실기조교

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

Q1.  성별이 Male인 환자들의 age의 평균값은 ?  
A1. 44.68

**Pandas 자료형변환**  
- string 형태로 되어있는 숫자들에 대해 sum, mean 등을 작업할때 원하는 결과가 나오지 않음
- dtype을 변경해야 함  

열 자료형 변환 (str->int)  
- 열 컬럼에 다시 할당해줘야함  
- 자료형을 그대로 씀 (int, str, float)  
: df['col_name'] = df['col_name'].astype(int)

In [ ]:
# preprocessing
idx = df[df['age']=='*82'].index[0]
df['age'].iloc[idx] = '82'
print(df.iloc[idx])
print(df['gender'].unique())

id                      12363
gender                   Male
age                        82
hypertension                0
heart_disease               1
ever_married              Yes
work_type            Govt_job
Residence_type          Urban
avg_glucose_level        74.1
bmi                      28.8
smoking_status        Unknown
stroke                      1
Name: 586, dtype: object
['Female' 'Male' 'Other']

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
df['age'] = df['age'].str.replace('*','').astype('int')
men = df[df['gender']=='Male']
men['age'] = men['age'].astype(int)
print(men['age'].mean())

44.68623481781376

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Q2. bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라  
A2. 29.166

In [ ]:
bmi_notnull = df[df['bmi'].notnull()]
bmi_notnull_med = bmi_notnull['bmi'].median()
df_tmp = df
df_bmi = df_tmp.fillna({'bmi':bmi_notnull_med})
print(round(df_bmi['bmi'].mean(), 3))

29.166

Q3. bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라  
A3. 28.188

In [ ]:
print(round(df['bmi'].fillna(method='ffill').mean(), 3))

29.188

Q4.  bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라  
A4. 29.263

In [ ]:
df['age'] = df['age'].str.replace('*','').astype('int')

bmi_avg_list = []
df['age2'] = df['age'].apply(lambda x: int(int(x)/10)*10)
age_list = df['age2'].unique()

for _, val in enumerate(age_list):
  average = df.loc[df['age2']==val, 'bmi'].mean()
  df.loc[df['age2']==val] = df.loc[df['age2']==val].fillna({'bmi':average})

print(round(df['bmi'].mean(), 3))

29.263

Q5. avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라  
A5. 126.188

In [ ]:
df_ne = df.copy()
print(round(df_ne.loc[df_ne['stroke']==1]['avg_glucose_level'].mean(),3))
df_ne.loc[df_ne.avg_glucose_level >= 200, 'avg_glucose_level'] = 199
result = round(df_ne[df_ne.stroke==1].avg_glucose_level.mean(), 3)
print(result)

131.428
125.188